travelontip-externalsystem/src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="fc2f127c-97a4-47b6-8616-7a35ed10a7a8" >
		<http:listener doc:name="Listener" doc:id="66b3f779-99b0-4bf7-b618-21813092950b" config-ref="HTTP_Listener_config" path="${http.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "critical error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="var-serviceType" doc:id="46030824-50f8-4343-a7ad-96576683851b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Request Received for TravelOnTip External System." doc:id="4da9093c-60ce-4486-8577-b1e0392bbb5e" message="Request Received for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="f7ab036d-b84a-45f5-905b-005a5b4f9a89" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Routes Flow Call" doc:id="accb18a2-795f-486d-a397-496941244dce" message="Routes Flow Call  for TravelOnTip External System for TransactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference To TravelOnTip-GetRoutes-ImplementationSub_Flow" doc:id="8f22094e-bc9e-45c4-83c4-77a7e8c0da75" name="TravelOnTip-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Schedule Flow Call" doc:id="7e887ade-3635-4626-b576-26b62154ef8f" message="Schedule Flow Call  for TravelOnTip External System for TransactionId: #[vars.transactionId]" />
				<flow-ref doc:name="Flow Reference To TravelOnTip-GetSchedules-ImplementationSub_Flow" doc:id="9ad08657-3690-4f18-9798-90ffd8b0ff83" name="TravelOnTip-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="URI Params is not correct " doc:id="27c5cdce-2bc3-4e6f-a098-9353512c4d0f" message="URI Params is not correct  for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Response sent for TravelOnTip External System." doc:id="7c31241b-34d3-48df-827a-59860558aff7" message="Response sent for TravelOnTip External System for TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7aede4ed-19df-4662-9532-285c1621d39c" >
				<logger level="INFO" doc:name="Error Occured for TravelOnTip External System." doc:id="33c6b3af-5902-46e7-b1a4-3fb27f3a673a" message="Error Occured for TravelOnTip External System  for TransactionId: #[vars.transactionId] Reason: #[error.Message]"/>
				<ee:transform doc:name="Vars.statusCode &amp; Vars.errorMsg" doc:id="d7bf2ba3-34a0-44a7-97fc-03c2966c22da" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorMessage" : error.errorMessage
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
