fastgo-externalsystem/src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="52c2720c-f53d-4e3a-95f8-cb08f46200e1" >
		<http:listener doc:name="Listener" doc:id="67fa518a-9d17-42eb-a36e-c764693dc0a7" config-ref="HTTP_Listener_config" path="${http.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "critical error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Vars.serviceType" doc:id="42cd0a2e-00b5-43e2-a272-b3adeacd6263" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Request Received for FastGo External System" doc:id="77cc2510-411d-44be-884d-3f05c1a6349d" message="Request Received for FastGo External System for TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="acec6716-68ba-4167-b973-f5cdbf2d86ab" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Routes Flow Call" doc:id="7028dd6c-83b5-4f46-95c7-1c7dff71e0ae" message="Routes Flow Call  for FastGo External System for TransactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference To FastGo-GetRoutes-ImplementationSub_Flow" doc:id="3034cc6e-e3e3-453e-9c5f-e08cbca8ab79" name="FastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Schedule Flow Call" doc:id="3186691a-673e-44b9-9e2b-65b6a362ab96" message="Schedule Flow Call  for FastGo  External System for TransactionId: #[vars.transactionId]" />
				<flow-ref doc:name="Flow Reference To FastGo-GetSchedules-ImplementationSub_Flow" doc:id="035021b6-4953-4d1e-a78f-5870d74afd00" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="URI Params is not correct " doc:id="26a3bf87-a74b-4539-9d59-3c71045ba726" message="URI Params is not correct  for FastGo External System for TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Response sent for FastGo External System." doc:id="145067b7-ede0-4aa2-aedb-8cff14fef18f" message="Response sent for FastGo External System for TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5d3d6531-1d65-4878-a0b2-d57752b81e09" >
				<logger level="INFO" doc:name="Error Occured for FastGo External System." doc:id="6c642b4e-01ec-4e66-ac10-e4d88088e5d2" message="Error Occured for FastGo External System  for TransactionId: #[vars.transactionId] Reason: #[error.Message]"/>
				<ee:transform doc:name="Vars.statusCode &amp; Vars.errorMsg" doc:id="02b0d5ce-7bb2-4971-af2b-aa14f9b3849f" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorMessage" : error.errorMessage
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
